anthropic
openai
google-generativeai
pygithub
toolz
azure-ai-inference
nbconvert
nbformat
Pillow
matplotlib
numpy
scipy
requests
ipykernel
setuptools
wheel
urllib3
requests-toolbelt
twine
python-gitlab
python-pptx
mistralai
docx2markdown
